/* Stylesheet CSS */
* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #b8e0bc;
    color: #fff;
    padding-bottom: 100px; /* Menambah jarak bawah agar map box tidak terlalu dekat dengan footer */
}

.header {
    background: #b8e0bc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #000;
}

.header .navbar a:hover {
    color: #008037;
    border-bottom: .1rem solid #1d3a20;
    padding-bottom: .5rem;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 6rem;
}

.header .logo-text {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.8rem;
    color: #000;
}

.header .navbar.active {
    right: 0;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    
    .header {
        padding: 1.5rem 2rem;
    }
}

.home {
    min-height: 70vh; /* Mengatur tinggi menjadi setengah dari viewport */
    display: flex;
    align-items: center;
    background: url(gambar2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 2rem 7%;
}

.home .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .content .text-center {
    position: relative;
}

.home .content h3,
.home .content p {
    font-size: 2rem;
}

.map-box {
    text-align: center; /* Membuat map box berada di tengah */
    margin: 50px auto; /* Mengatur margin untuk memberi jarak antara home section dan map box serta memusatkan map box */
    display: flex; /* Menggunakan flexbox */
    justify-content: center; /* Pusatkan konten secara horizontal */
    align-items: center; /* Pusatkan konten secara vertikal */
    flex-wrap: wrap; /* Memungkinkan wrapping jika konten melebihi lebar */
}

.map-box .container {
    max-width: 1500px; /* Mengatur lebar maksimum untuk map box */
    width: 100%; /* Mengisi lebar container sesuai kebutuhan */
    margin: 0 auto; /* Memusatkan map box di tengah */
}

.kontak .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Pusatkan konten ke kiri */
    align-items: flex-start; /* Pusatkan konten ke atas */
}

.kontak .container .row {
    width: 100%;
    margin: 0; /* Menghapus margin bawaan */
}

.kontak .container .col-md-6 {
    flex-basis: calc(50% - 20px); /* Mengatur lebar setengah dari container */
    margin: 0 10px 20px 0; /* Mengatur margin antara box */
    display: flex;
    align-items: center;
    font-size: 22px;
}

.kontak .container .box {
    width: 100%;
    display: flex;
    align-items: center;
}

.kontak .container .box i {
    color: red;
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.kontak .container .box .text-box {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: flex-start;
}

.kontak .container .box .text-box h3 {
    margin: 0;
    color: #000;
}

.kontak .container .box .text-box p {
    margin: 0;
    color: #5e5858;
    font-size: 15px;
}

.kontak .container .box img {
    margin-left: 20px;
}

.box {
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.box i {
    color: red;
    font-size: 25px;
    margin-right: 20px;
    margin-left: 10px;
}

.box .text-box {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: flex-start;
}

.box .text-box h3 {
    margin: 0;
    color: #000;
}

.box .text-box p {
    margin: 0;
    color: #5e5858;
    font-size: 15px;
}

.box img {
    margin-left: 20px;
}

.logo-r {
    margin-left: auto;
    margin-right: 60px;
    display: block;
    float: right;
    margin-top: -440px;
}
